node_modules
coverage
dist
dist-ssr
.tanstack
.vscode
.github
.nitro
.wrangler
.output
.vinxi
.DS_Store
*.local
.env
__unconfig*
todos.json
src
*.test.*
vitest.config.ts
vite.config.ts
tsconfig.json
eslint.config.js
prettier.config.js
jsdoc.json
components.json
pnpm-lock.yaml
