MYSQL_ROOT_PASSWORD='{{ mysql_root_password | replace("'", "\\'") }}'
MYSQL_DATABASE='{{ mysql_database | replace("'", "\\'") }}'
ADMIN_EMAIL='{{ admin_email | replace("'", "\\'") }}'
ADMIN_PASSWORD='{{ admin_password | replace("'", "\\'") }}'
CORS_ORIGINS='{{ cors_origins | replace("'", "\\'") }}'
