MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
MYSQL_DATABASE={{ mysql_database }}
MYSQL_USER=root
MYSQL_HOST=db
MYSQL_PORT=3306
ADMIN_EMAIL={{ admin_email }}
ADMIN_PASSWORD={{ admin_password }}
CORS_ORIGINS={{ cors_origins }}
